<h3>LISTINGS UPLOADED BY YOU</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>City</th>
    <th>Max No. Pax</th>
    <th>Tags</th>
    <th>Price</th>
  </tr>
  <% @listings.each do |l| %>
    <tr>
      <td><%= link_to l.name, '/users/' + l.user_id.to_s + '/listings/' + l.id.to_s %></td>
      <td><%= l.location %></td>
      <td><%= l.city %></td>
      <td><%= l.pax_num %></td>
      <td><%= l.tag_list.each { |t| t }.join(', ') %></td>
      <td>RM <%= l.price %></td>
      <td><%= link_to "Edit", '/users/' + l.user_id.to_s + '/listings/' + l.id.to_s + '/edit' %></td>
    </tr>
  <% end %>
</table>