<style>
  #datepicker1, #datepicker2 {
  border: none;
  }
  select {
  border-color: #ddd;
  background-color: #fff;
  }
  td {
  background-color: #fff;
  }
  h2, p {
    color: #999;
  }
  hr {
    margin-top: 0;
  }
  p, span {
    font-size: 20px;
  }
  .fa {
    color: grey;
    float: left;
    text-align: center;
    margin-right: 50px;
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<div style="position: static;" class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
    <% if @house.photos != [] %>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <% @house.photos[1..-1].each_with_index do |photo,index| %>
            <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
          <% end %>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag @house.photos[0].url, style: "height: 400px; width: 100%" %>
          </div>
          <% @house.photos[1..-1].each do |photo| %>
            <div class="item">
              <%= image_tag photo.url, style: "height: 400px; width: 100%" %>
            </div>
          <% end %>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <h2>Overview</h2>
  <hr>
  <h1 style="float: left; margin-top: 0; font-family: 'Patua One', cursive;"><%= @house.name.capitalize %>
    <p><%= @house.location.capitalize %>, <%= @house.city.capitalize %></p>
  </h1>
  <h1 style="float: right; margin-top: 0"><%= image_tag User.find(@house.user_id).photo.thumb.url, style: "border-radius: 50%;" %>
    <p style="text-align: center;">Ken</p>
  </h1>
</div>
<div class="container">
  <hr>
  <i class="fa fa-home fa-3x">
    <h6>Entire home</h6>
  </i>
  <i class="fa fa-users fa-3x">
    <h6><%= @house.pax_num %>guests</h6>
  </i>
  <i class="fa fa-tags fa-3x">
    <h6><%= @house.tag_list %></h6>
  </i>
  <% if signed_in? %>
    <% if current_user.role != "admin" %>
      <div style="float: right; text-align: center;" ><button class='btn-lg' data-toggle="modal" data-target="#bookModal">BOOK</button>
        <p>RM<%= @house.price %> /night</p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="container">
  <hr>
  <p>About this listing</p>
  <p>..................</p>
</div>
<br>
<!-- Modal -->
<div class="modal fade" id="bookModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">RESERVATION</h4>
      </div>
      <div class="modal-body" style="text-align: center;">
        <%= form_for [@house, @reservation] do |form| %>
          <table style="width: 30%;" align="center">
            <tr>
              <th>Check In</th>
              <th>Check Out</th>
            </tr>
            <tr>
              <td><%= form.text_field :checkin, type: 'checkin', placeholder: 'dd-mm-yyyy', id: "datepicker1", required: true %></td>
              <td><%= form.text_field :checkout, type: 'checkout', placeholder: 'dd-mm-yyyy', id: 'datepicker2', required: true %></td>
            </tr>
            <tr>
              <th colspan=2 style="text-align: center;">Guest</th>
            </tr>
            <tr>
              <td colspan=2 style="text-align: center;"><%= form.select :guest_num, (1..10).to_a %> guest(s)</td>
            </tr>
          </table>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :listing_id, value: @house.id %><br>
          <%= form.submit "BOOK", class: 'btn' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>