<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
    <h1 class="text-center">
      THE HOUSE
    </h1>
    <h3 class="text-center">
      <%= @house.name %> @ <%= @house.location %>, <%= @house.city %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-offset-8 col-xs-8">
    <div class="col-md-4 col-xs-4">
      <h1 class="text-center">
        Guest Number
      </h1>
      <h3 class="text-center">
        <%= @house.pax_num %>
      </h3>
    </div>
    <div class="col-md-4 col-xs-4">
      <h3 class="text-center">
        <%= button_to "BOOK", new_listing_reservation_path(listing_id: @house.id), :method => "get" %>
      </h3>
    </div>
    <div class="col-md-4 col-xs-4">
      <h1 class="text-center">
        Tags
      </h1>
      <h3 class="text-center">
        <%= @house.tag_list %>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-8">
    <h1 class="text-center">
      Price
    </h1>
    <h3 class="text-center">
      RM <%= @house.price %>
    </h3>
  </div>
</div>