<style>
  #datepicker1, #datepicker2 {
  border: none;
  }
  select {
  border-color: #ddd;
  background-color: #fff;
  }
  td {
  background-color: #fff;
  }
</style>
<div style="text-align: center;">
  <h1> RESERVATION </h1>
  <%= form_for [@house, @reservation] do |form| %>
    <table style="width: 30%;" align="center">
      <tr>
        <th>Check In</th>
        <th>Check Out</th>
      </tr>
      <tr>
        <td><%= form.text_field :checkin, type: 'checkin', placeholder: 'dd-mm-yyyy', id: "datepicker1", required: true %></td>
        <td><%= form.text_field :checkout, type: 'checkout', placeholder: 'dd-mm-yyyy', id: 'datepicker2', required: true %></td>
      </tr>
      <tr>
        <th colspan=2 style="text-align: center;">Guest</th>
      </tr>
      <tr>
        <td colspan=2 style="text-align: center;"><%= form.select :guest_num, (1..10).to_a %> guest(s)</td>
      </tr>
    </table>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :listing_id, value: @house.id %>
    <%= form.submit "BOOK", class: 'btn' %>
  <% end %>
</div>